@charset "UTF-8";

@media screen and (min-width: 992px) {

    menu {
        display: block;
        background-color: rgb(155, 155, 155);
    }

    menu a {
        border: 0;
    }

    menu li {
        display: inline-block;
    }

    span.material-icons {
        display: none;
    }

    main {
        width: 850px;
    }
}
